.footer{
    background-color: #222;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.lista_social{
    display: flex;
    justify-content: center;
    list-style-type: none;

}

.lista_social li{
    margin: 0 1em;

}

.lista_social li:hover{
    color: #00fa9a;

}

.lista_social svg{
    font-size: 2em;
    cursor: pointer;
}

.copy_right{
    margin-top: 1em;
}

.copy_right span{
    font-weight: bold;
    color: yellow;
}